#my.cnf
[client]
port            = 3306
socket          = /tmp/mysql3306.sock

[mysql]
prompt="\u@\h [\d]>" 
auto-rehash

[mysqld]
innodb_print_all_deadlocks=1
event_scheduler = 0
port = 3306
user = mysql
socket = /tmp/mysql3306.sock
basedir = /usr/local/mysql
datadir = /data/mysql/mysql3306/data
tmpdir = /data/mysql/mysql3306/tmp

#audit
#plugin-load=AUDIT=libaudit_plugin.so
#audit_validate_checksum=OFF
#audit_offsets=7800, 7848, 3624, 4776, 456, 360, 0, 32, 64, 160, 536, 7964
#audit_json_file=ON
#audit_json_log_file=/data2/shenji.json
#audit_record_cmds=drop,alert,update,delete,insert,create
#audit_json_file_bufsize=262144

#timeout
interactive_timeout = 1000
wait_timeout = 1000

#character set
character-set-server = utf8

open_files_limit = 65535
max_connections = 200
max_connect_errors = 100000

#logs
log-output=file
slow_query_log = 1
slow_query_log_file = slow.log
log-error = /data/mysql/mysql3306/error.log
log_warnings = 2
pid-file = /data/mysql/mysql3306/mysql.pid
long_query_time = 1
#log-slow-admin-statements = 1
#log-queries-not-using-indexes = 1
log-slow-slave-statements = 1

#binlog
binlog_ignore_db=jishu8cc
binlog_format = row
server-id = 93306
log-bin = /data/mysql/mysql3306/logs/mysql-bin
#binlog_cache_size = 4M
max_binlog_size = 1G
#max_binlog_cache_size = 1G
sync_binlog = 0
expire_logs_days = 10
#procedure 
log_bin_trust_function_creators=1

#gtid
#gtid-mode=on
#enforce-gtid-consistency=1

#relay log
skip_slave_start = 1
max_relay_log_size = 128M
relay_log_purge = 1
relay_log_recovery = 1
relay-log=relay-bin
relay-log-index=relay-bin.index
log_slave_updates
#slave-skip-errors=1032,1053,1062
#skip-grant-tables

#buffers & cache
table_open_cache = 2048
table_definition_cache = 2048
table_open_cache = 2048
max_heap_table_size = 96M
sort_buffer_size = 128K
join_buffer_size = 128K
thread_cache_size = 200
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 256K
query_cache_min_res_unit = 512
thread_stack = 192K
tmp_table_size = 96M
key_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 32M

#myisam
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

#innodb
innodb_buffer_pool_size = 100M
innodb_buffer_pool_instances = 1
innodb_data_file_path = ibdata1:100M:autoextend
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 8M
innodb_log_file_size = 100M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 50
innodb_file_per_table = 1
innodb_rollback_on_timeout
innodb_status_file = 1
innodb_io_capacity = 2000
#transaction_isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT

#optimization
max_allowed_packet = 40M
sort_buffer_size = 2M
#read_buffer_size = 2M
#read_rnd_buffer_size = 8M
#myisam_sort_buffer_size = 32M
#thread_cache_size = 8
#query_cache_size = 32M
#innodb_buffer_pool_size = 6G
innodb_log_file_size = 1G
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
innodb_max_dirty_pages_pct= 75
#innodb_file_per_table
#innodb_buffer_pool_instances=1
innodb_buffer_pool_instances=5
log_timestamps=SYSTEM
lower_case_table_names=1
#sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

